.link{
    background-color: #fff;
    width: 400;
}
.link::before{
    content: '>';
    font-size: 18px;
    color: red;
    margin: 0 10px;
}
.link::after{
    content: '<';
    font-size: 18px;
    color: red;
    margin: 0 10px;
}
.labelStyle {
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}